.user-module {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  &_search {
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 15px !important;
  }

  &_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    &_list {
      border-right: 1px solid rgb(226, 226, 226);
    }
  }
}
